@media only screen and (max-width: 1399px) {
    #logo img {
        width: 90%;
    }

    .my-nav .nav-contain {
        gap: 2rem;
    }

    .my-nav .log-sign-btn .log-in,
    .my-nav .log-sign-btn .sign-in {
        font-size: 1rem;
    }

    /* Hero section */
    #hero {
        padding: 14rem 0;
    }

    #hero h1 {
        font-size: 4rem;
        line-height: 5rem;
    }

    /* Footer section */
    footer form input {
        width: 200px;
        height: 30px;
        padding: 1.35rem;
        border: none;
        outline: none;
        border-radius: 3px;
    }

    footer .payment-contain {
        gap: 1.25rem;
        padding-top: 1.25rem;
    }

    footer .payment-contain img {
        width: 55px;
    }
}



@media only screen and (min-width: 993px) and (max-width: 1199px) {
    .logo-contain {
        width: 25%;
    }

    #logo img {
        width: 100%;
    }

    .my-nav .nav-contain {
        gap: 1.5rem;
    }

    /* Hero section */
    #hero {
        padding: 11.5rem 0 9.5rem;
    }

    #hero h1 {
        font-size: 3.25rem;
        line-height: 4rem;
    }

    #hero .desc {
        font-size: 1.05rem;
    }

    #hero .custom-btn {
        font-size: 1.125rem;
    }

    /* Category section */
    #category .inner-contain {
        padding-left: 1rem;
    }

    #category .inner-contain img {
        width: 50px;
    }

    /* Popular seection */
    #popular .last {
        display: none;
    }

    /* Test section */
    #test .last {
        display: none;
    }

    /* Blog section */
    #blog .last {
        display: none;
    }

    /* App section */
    #app .title {
        font-size: 2.75rem;
        padding-bottom: 0.75rem;
    }



    /* Footer section */
    footer .logo-contain-2 {
        width: 80%;
        padding-bottom: 1.25rem;
    }

    footer h4 {
        font-size: 1.5rem;
    }

    footer form input {
        width: 150px;
    }

    footer .payment-contain {
        gap: 1rem;
        padding-top: 1.25rem;
    }

    footer .payment-contain img {
        width: 40px;
    }
}


@media only screen and (max-width: 992px) {
    .title {
        font-size: 2.75rem;
    }
    /* Nav-bar section */
    .my-nav .navigation,
    .my-nav .log-sign-btn {
        display: none;
    }

    .menu-icon {
        display: block;
        background-color: var();
    }

    /* Hero section */
    #hero {
        padding: 10rem 0 7.5rem;
    }

    #hero h1 {
        font-size: 2.75rem;
        line-height: 3rem;
    }

    #hero .desc {
        font-size: 1rem;
    }

    #hero .custom-btn {
        font-size: 1.05rem;
    }

    /* Category section */
    #category {
        padding-bottom: 0;
    }

    #category .inner-contain {
        margin-bottom: 1.5rem;
    }

    /* Promo section */
    #promo .img-contain-promo {
        margin-bottom: 2rem;
    }

    /* Popular seection */
    #popular .last {
        display: none;
    }

    /* Test section */
    #test .inner-test {
        margin-bottom: 1.5rem;
    }

    /* Blog section */
    #blog .last {
        display: none;
    }

    /* App section */
    #app .left {
        margin-bottom: 4rem;
    }
    footer form input {
        width: 190px;
    }
    footer .payment-contain {
        gap: 1rem;
    }
    footer .payment-contain img {
        width: 54px;
    }
    footer .info-com,
    footer .links-foot,
    footer .news {
        margin-bottom: 2rem;
    }
}


@media only screen and (max-width: 767px) {
    .title {
        font-size: 2.5rem;
    }
    .logo-contain {
        width: 50%;
    }

    #logo img {
        width: 100%;
    }
    /* Hero section */
    #hero {
        padding: 8rem 0 6rem;
    }

    #hero h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }

    #hero .desc {
        display: none;
    }

    #hero .custom-btn {
        margin-top: 2.5rem;
    }

    /* Blog section */
    #blog .first {
        margin-bottom: 2rem;
    }
    /* Footer section */
    footer .logo-contain-2 {
        width: 50%;
    }
    footer form input {
        width: 70%;
    }
    footer .payment-contain img {
        width: 60px;
    }
}

@media only screen and (max-width: 575px) {
    header {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    footer form input {
        width: 72%;
    }
}


@media only screen and (max-width: 517px) {
    #hero {
        padding: 8rem 0 5rem;
    }
    #hero h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    #hero .custom-btn {
        margin-top: 2.25rem;
        font-size: 0.85rem;
    }
    footer form input {
        width: 69%;
    }
}


@media only screen and (max-width: 475px) {
    header {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    .title {
        font-size: 2.125rem;
    }
    #hero {
        padding: 8rem 0 5rem;
    }
    #hero h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    #hero .custom-btn {
        margin-top: 2.25rem;
        font-size: 0.85rem;
    }
    footer form input {
        width: 65%;
    }
}



@media only screen and (max-width: 414px) {
    .title {
        font-size: 2rem;
    }
    footer form input {
        width: 62%;
    }
    footer .payment-contain img {
        width: 55px;
    }
}


@media only screen and (max-width: 380px) {
    .title {
        font-size: 2rem;
    }
    header {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    #hero {
        padding: 6rem 0 3rem;
    }
    #hero h1 {
        font-size: 1.85rem;
        line-height: 2.4rem;
    }
    footer form input {
        width: 58%;
    }
}